@import "../config/reset.less";//importação do estilo less
@import "../styles/map/mapas.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

.marginBottom8 {
    margin-bottom: 8px;
}

body {
    /*background-color: @corDeFundo;*///importando a variável de cor de outro arquivo (exemplo)
    background-color: #colors[backgroundColor];
    color: #colors[corDeTexto];
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @breakpointMobile {
        max-width: 70%;

        .profile-avatar {
            margin-top: 150px;
            height: 100px; 
            width: 100px;
        }
    }

    @media @breakpointTablet {
        max-width: 80%;
    }
}

header {
    padding-bottom: 24px;

    .profile-avatar {
        display: block;
        margin: 24px auto 24px;
        border-radius: 50%;
        height: 200px; 
        width: 200px;
    }
}

.profile-bio {
    text-align: center;

    &-name {
        font-size: 16px;
        .marginBottom8()
    }

    &-subtitle {
        font-size: 14px;
        .marginBottom8()
    }

    &-description {
        font-size: 14px;
        opacity: 70%;
    }
}

.projects-list {
    margin-top: 30px;
    text-align: center;

    &-item {

        a {
            text-decoration: none;
            background-color: #colors[buttonColor];
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            color: #colors[corDeTexto];
            font-weight: bold;
            border-radius: 30px;
            border: 2px solid #colors[buttonColor];
            transition: all ease 0.5s;
            
            &:hover {
                background-color: transparent;
                color: #colors[buttonColor];
            }
        }
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    li {
        list-style: none;

        img {
            &:hover {
                transform: scale(1.3);
                transition: all ease 0.3s;
            }
        }
    }

    a {
        text-decoration: none;
    }
}