* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
};

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    li {
        list-style: none;

        img {
            &:hover {
                transform: scale(1.3);
                transition: all ease 0.3s;
            }
        }
    }

    a {
        text-decoration: none;
    }
}